<h1><%= @events.name_event %></h1>

<p>Date: <%= @events.date.strftime("%d/%m/%Y") %></p>
<p>Lieu: <%= @events.location %></p><br>
<p>Créé par: <%= @events.creator %></p><br>
<p>Description: <%= @events.description %></p><br>

<p><a href="<%= edit_event_path %>" class="btn btn-primary">Modifier mon évènement</a></p>

<p><a href="<%= @events %>" class="btn btn-danger" data-confirm="Sure about this?" data-method="DELETE">Supprimer mon évènement</a></p>

<p><a href="<%= root_path %>" class="btn btn-default">Accueil</a></p>

